.btn {
  display: inline-flex;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 33px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 700;
}
.btn--white {
  background-color: #fff;
  color: var(--Purple);
  border: 2px solid var(--Purple);
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
        border: 2px solid rgba(188, 156, 255, 0.5);
  }
}
.btn--purple {
  background-color: var(--Purple);
  color: #fff;
  font-weight: 700;
  border: 2px solid var(--Purple);
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.5;
  }
}
.menu--btn {
  @media (max-width: $tableWidth+px) {
    background-color: #fff;
    color: var(--Purple);
    border: 2px solid var(--Purple);
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--smDarkGrey);
      color: #fff;
    }
  }
}