.drop-down {
  width: 100%;
  max-width: 320px;
  cursor: pointer;
}
summary {
  height: 44px;
  border: 1px solid var(--smDarkGrey);
  display: flex;
  align-items: center;
  padding: 0px 15px;
  font-weight: 400;
  color: var(--DarkGray);
  border-radius: 2px;
}
summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style: none;
}
summary {
  position: relative;
}

details summary:before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  background: url("../../assets/img/arrow_b.svg") 50% 50% no-repeat;
}
.drop-down__content {
  display: flex;
  flex-direction: column;
  padding: 13px 7px 13px 15px;
  border: 1px solid var(--smDarkGrey);
  border-top: none;
  border-radius: 2px;
}
.drop-down__list {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 7px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.drop-down__text {
  font-size: 12px;
  color: var(--DarkBlue);
  font-weight: 700;
  text-transform: uppercase;
}
.drop-down__count {
  display: flex;
  align-items: center;
}
.drop-down__number {
  color: var(--DarkBlue);
  font-weight: 700;
  max-width: 30px;
  text-align: center;
}
.drop-down__minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--smDarkGrey);
  border-radius: 50%;
  cursor: pointer;
}
.drop-down__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--smDarkGrey);
  border-radius: 50%;
  cursor: pointer;
}
