input[type="text"],
input[type="email"],
input[type="tel"],
textarea.input {
  resize: none;
  padding: 0px 10px;
}
.input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 100%;
  height: 44px;
  background-color: #fff;
  display: block;
  border-radius: 4px;
  &:focus {
    border: 1px solid var(--smDarkGrey);
  }
  &._error {
  }
}
.input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}