.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__navigation {
  border-bottom: 1px solid var(--smGrey);
  margin: 0px 0px 26px 0px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 100px 0px;
  @media (max-width: $tableWidth+px) {
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
    justify-content: center;
  }
}
.footer__column {
  .logo {
    margin: 0px 0px 34px 0px;
  }
  span {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px 0px 21px 0px;
  }
  @media (max-width: $tableWidth+px) {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 0 1 50%;
    &:last-child {
      flex: 0 1 40%;
    }
  }
  @media (max-width:$phoneWidth+px){
    &:last-child{
        flex: 0 1 100%;
    }
  }
}
.footer__list {
}
.footer__link {
  display: inline-block;
  margin: 0px 0px 20px 0px;
  color: var(--smDarkGrey);
  transition: all 0.3s ease;
  &:hover {
    color: var(--DarkBlue);
  }
}
.input-arrow {
  position: absolute;
  background: url("../../assets/img/arrow_right.svg") 57% 50% no-repeat;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  @media (max-width:$phoneWidth+px){
      span{
        font-size: 7px;
      }
  }
}
.footer__offer {
  margin: 0px 0px 20px 0px;
}
.footer__icons {
  a {
    margin: 0px 20px 0px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }
}
.footer__mail {
  position: relative;
  @media (max-width: $tableWidth+px) {
  }
}
