.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-bottom: 440px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__items {
  display: flex;
}
.header__item {
  margin: 0px 26px 0px 0px;
  @media (max-width: $tableWidth+px) {
    margin: 0px 0px 30px 0px;
  }
}
.header__list {
  li {
    position: relative;
  }
}
.header__auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__link {
  color: var(--smDarkGrey);
  margin: 0px 5px 0px 0px;
  &:hover {
    color: var(--DarkGray);
    text-shadow: 0 0 0.9px #333, 0 0 0.9px #333, 0 0 0.9px #333;
  }
  @media (max-width: $tableWidth+px) {
    font-size: 20px;
    color: var(--DarkBlue);
  }
}
.header__sub {
  display: none;
  position: absolute;
  left: 0;
  top: 22px;
  background-color: var(--Grey);
  color: var(--Purple);
  cursor: pointer;
  border-radius: 5px;
  li {
    padding: 2px 5px;
    white-space: nowrap;
    border: 0.5px solid var(--Grey);
    border-bottom: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    &:hover {
      background-color: var(--Purple);
    }
    &:last-child {
      border-bottom: 0.5px solid var(--Grey);
    }
  }
  @media (max-width: $tableWidth+px) {
    background-color: #fff;
    margin: 5px 0px 0px 0px;
    li {
      &:hover {
        background-color: var(--smGrey);
      }
    }
  }
}
.header__sublink {
}
.arrow {
  background: url("../../assets/img/arrow_b.svg") 0 0 no-repeat;
  width: 12px;
  height: 8px;
  display: inline-block;
  transition: all 0.3s ease;
}
.header__arrow.active {
  transform: rotate(-180deg);
}
body.mouse .header__list:hover {
  .header__sub {
    display: block;
  }
  .header__arrow {
    transform: rotate(-180deg);
  }
}
body.touch .header__list {
  .header__sub.open {
    display: block;
  }
}
.icon-menu {
  display: none;
  @media (max-width: $tableWidth+px) {
    display: block;
    position: relative;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--Purple);
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0);
        background-color: #fff;
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
.menu__body {
  transition: all 0.3s ease;
  @media (max-width: $tableWidth+px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0;
    right: -100%;
    z-index: 2;
    background-color: var(--Purple);
  }
  &.active {
    right: 0%;
  }
}
.header__auth {
  @media (max-width: $tableWidth+px) {
    flex-direction: column;
    .header__item {
      &:nth-child(1){
        margin: 0px 0px 10px 0px;
      }
      &:last-child {
        margin: 0px 0px;
      }
    }
  }
}
