.drop-down
    details
        summary(class='drop-down__quest') Сколько гостей
        .drop-down__content
            .drop-down__list
                .drop-down__text Взрослые
                .drop-down__count(id='drop')
                    .drop-down__minus(data-action="minus") -
                    input(class="drop-down__number" data-counter value = '0')
                    .drop-down__plus(data-action="plus") +
            .drop-down__list
                .drop-down__text Дети
                .drop-down__count(id='drop')
                    .drop-down__minus(data-action="minus") -
                    input(class="drop-down__number" data-counter value = '0')
                    .drop-down__plus(data-action="plus") +
            .drop-down__list
                .drop-down__text Младенцы
                .drop-down__count(id='drop')
                    .drop-down__minus(data-action="minus") -
                    input(class="drop-down__number" data-counter value = '0')
                    .drop-down__plus(data-action="plus") +
            
    