.date-picker
    .selected-date
    .dates
        .month
            .arrows(class='prev-mth')
            .mth
            .arrows(class='next-mth')
        .week
            span Пн
            span Вт
            span Ср
            span Чт
            span Пт
            span Сб
            span Вс
        .days

        .date-picker__button
            a(href="#" class='date-picker__link') Очистить
            a(href="#" class='date-picker__link') Применить

