footer
    .footer__content
        .footer__navigation
            .footer__body
                .footer__column
                    include ./logo
                    p Бронирование номеров в лучшем 
                    p отеле 2019 года по версии ассоциации
                    p «Отельные взгляды»
                .footer__column
                    span навигация
                    ul(class='footer__list') 
                        li
                            a(href='#' class='footer__link') О нас
                        li
                            a(href='#' class='footer__link') Новости
                        li
                            a(href='#' class='footer__link') Служба поддержки
                        li
                            a(href='#' class='footer__link') Услуги
                .footer__column
                    span о нас
                    ul(class='footer__list') 
                        li
                            a(href='#' class='footer__link') О сервисе
                        li
                            a(href='#' class='footer__link') Наша команда
                        li
                            a(href='#' class='footer__link') Вакансии
                        li
                            a(href='#' class='footer__link') Инвесторы
                .footer__column
                    span Служба поддержки
                    ul(class='footer__list') 
                        li
                            a(href='#' class='footer__link') Соглашения
                        li
                            a(href='#' class='footer__link') Сообщества
                        li
                            a(href='#' class='footer__link') Связь с нами
                .footer__column
                    span Подписка
                    .footer__offer
                        p Получайте специальные
                        p предложения и новости сервиса
                    .footer__mail
                        input(class='input' type='email' placeholder="Email")
                        a(href='#' class='input-arrow')


        .footer__social
            span Copyright © 2018 Toxin отель. Все права зачищены.
            .footer__icons
                a(href='#')
                    img(src='./assets/img/bird.svg')
                a(href='#')
                    img(src='./assets/img/faceboock.svg')
                a(href='#')
                    img(src='./assets/img/inst.svg')