head
    .header
            include ./logo
            .header__body
                .menu__icon(class="icon-menu")
                    span
                    span
                    span
                nav(class='header__items menu__body')
                    .header__item
                        a(href="/#" class='header__link') О нас
                    .header__item
                        ul(class='header__list')
                            li
                                a(href="#" class='header__link') Услуги
                                span.header__arrow.arrow 
                                ul(class='header__sub')
                                    li
                                        a(href="#" class='header__sublink') Доп услуги
                                    li
                                        a(href="#" class='header__sublink') Доп услуги
                                    li
                                        a(href="#" class='header__sublink') Доп услуги
                    .header__item
                        a(href="/#" class='header__link') Вакансии
                    .header__item
                        a(href="/#" class='header__link') Новости
                    .header__item
                        ul(class='header__list')
                            li
                                a(href="#" class='header__link') Соглашения
                                span.header__arrow.arrow 
                                ul(class='header__sub')
                                    li
                                        a(href="#" class='header__sublink') Доп соглашения
                                    li
                                        a(href="#" class='header__sublink') Доп соглашения
                                    li
                                        a(href="#" class='header__sublink') Доп соглашения
                .header__auth(data-da='menu__body,5,992')
                    .header__item
                        a(href='#' class='btn btn--white menu--btn') Войти
                    .header__item
                        a(href='#' class='btn btn--purple menu--btn') Зарегистрироваться
