doctype html
html(lang='en')
  head
    meta(http-equiv="Content-type",content="text/html;charset=UTF-8")
    meta(name="format-detection",content="telephone=no")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    link(rel="icon" href="http://faviconka.ru/ico/faviconka_ru_299634.ico" type="image/x-icon")
    title Main
  body
    .wrapper
      .container
        include ../includes/header
        .content
        include ../includes/footer