.date-picker {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 44px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
.date-picker .selected-date {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--DarkGray);
}
.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}
.date-picker .dates.active {
  display: block;
  border: 1px solid var(--smGrey);
}
.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  color: var(--DarkBlue);
}
.date-picker .dates .month .arrows {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-mth {
  background: url("../../assets/img/arrow_back-color.svg") 50% 50% no-repeat;
}
.next-mth {
  background: url("../../assets/img/arrow_right.svg") 50% 50% no-repeat;
}
.date-picker .dates .month .arrows:active {
  background-color: var(--Green);
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 240px;
}
.date-picker .dates .week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 50px;
  font-weight: 700;
  color: var(--Purple);
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--smDarkGrey);
  height: 40px;
}
.date-picker .dates .days .day.selected {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  color: #fff;
  font-weight: 700;
}
.date-picker__button{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-transform: uppercase;
    a{
        color: var(--Purple);
        transition: all 0.3s ease;
    }
    a:hover{
        color: rgba(31, 32, 65, 0.5);
    }
}