@import "@/assets/styles/var.scss";
@import "@/assets/styles/font.scss";
@import "@/assets/styles/mixin.scss";
@import "@/assets/styles/nullstyle.scss";

@import "@/assets/styles/modules/index.scss";
@import "@/assets/styles/modules/header.scss";
@import "@/assets/styles/modules/footer.scss";

@import '@/assets/styles/cards/calendar.scss';

@import '@/assets/styles/formElements/input.scss';
@import '@/assets/styles/formElements/dropDown.scss';
@import '@/assets/styles/formElements/button.scss';





h1 {
  font-family: $fontFamily;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
h2 {
  font-family: $fontFamily;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
}
h3 {
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}
.container {
  max-width: $smDesktopWidth + px;
  margin: 0px auto;
  padding: 0px 20px;
  @media (max-width: $smTableWidth+px) {
    padding: 0px 10px;
  }
}
body.noScroll {
    overflow-y: hidden;
  }
