* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  min-width: $smPhoneWidth;
  position: relative;
  width: 100%;
  color: $mainFontColor;
}
body {
  font-size: 100%;
  line-height: $mainLineHeight;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  font-family: $mainFont;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @media (max-width: $smDesktopWidth + px) {
    font-size: 13px;
  }
  @media (max-width: $tableWidth + px) {
    font-size: 12px;
  }
  @media (max-width: $smTableWidth + px) {
    font-size: 11px;
  }
}
input,
button,
textarea {
  font-family: $mainFont;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  &:active,
  &:hover {
    outline: 0;
  }
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
